.banner-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.event-banner {
  text-align: center;

  img {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
  }

  h3 {
    margin-top: 1rem;
  }
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0.5rem;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
