<div class="banner-container" *ngIf="future_events.length">
  <button class="arrow left" (click)="prev()">❮</button>

  <div class="event-banner">
    <img [src]="'http://localhost:8000/media/' + future_events[currentIndex].picture_path" alt="event image" />
    <div class="event-banner-info">
      <h3 class="event-banner-title">{{ future_events[currentIndex].name }}</h3>
      <div class="event-banner-artist" *ngIf="future_events.length > 0">
        <h3> {{ future_events[currentIndex].artist | formatArtists }} </h3>
      </div>
      <div class="event-banner-sessions">
        <div class="sessions" *ngIf="future_events[currentIndex].sessions && future_events[currentIndex].sessions.length > 2">
          <h4>From {{ future_events[currentIndex].sessions[0].date_time | date:"short" }}</h4>
          <h4>To {{ future_events[currentIndex].sessions[future_events[currentIndex].sessions.length - 1].date_time | date:"short" }}</h4>
        </div>
        <div class="sessions" *ngIf="future_events[currentIndex].sessions && future_events[currentIndex].sessions.length == 2">
          <h4>On {{ future_events[currentIndex].sessions[0].date_time | date:"short" }}</h4>
          <h4>And {{ future_events[currentIndex].sessions[future_events[currentIndex].sessions.length - 1].date_time | date:"short"}}</h4>
        </div>
        <div class="sessions" *ngIf="future_events[currentIndex].sessions && future_events[currentIndex].sessions.length == 1">
          <h4>Only on {{ future_events[currentIndex].sessions[0].date_time |date:"short" }}</h4>
        </div>
      </div>
      <div class="event_banner-hall" *ngFor="let session of future_events[currentIndex].sessions; let i = index">
        <h5>At {{ future_events[currentIndex].sessions[i].hall.name}}</h5>
      </div>
    </div>
  </div>

  <button class="arrow right" (click)="next()">❯</button>
</div>
