<div class="container" *ngIf="artists">
  <div class="card" *ngFor="let artist of artists">
    <div class="card-body">
      <img [src]="'https://localhost:8000/media/' + artist.image_path" alt="artist image" (click)="goToDetails(artist.id)"/>
      <div class="card-text">
        <div class="card-title">
          <h2 class="artist-nickname" (click)="goToDetails(artist.id)">{{ artist.nickname }}</h2>
        </div>
        <div class="info-content">
          <h4 class="concert-type">CONCERT - {{ artist.category | formatCategories  | uppercase }}</h4>
          <h4 class="artist-artists" *ngFor="let event of artist.events">Event(s) upcoming: {{ event.name  }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>