.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  padding: 1rem;
}

.event-past {
  text-align: center;
  height: 300px;

  img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

  h3, h4 {
    margin-top: 0.5rem;
  }

  .event-past-artist{
    color: #43c8c8;
    -webkit-text-stroke: 0.5px #555452;
    text-shadow:
    -0.5px -0.5px 0 #555452,
     0.5px -0.5px 0 #555452,
    -0.5px  0.5px 0 #555452,
     0.5px  0.5px 0 #555452;
  }

}
