<div class="event-container" *ngIf="event">
  <div class="card" *ngFor="let hall of grouped_sessions | keyvalue; let index = index">
    <div class="card-body">
      <img [src]="'https://localhost:8000/media/' + event.picture_path" alt="event image" (click)="goToDetails(hall.key, event.id.toString())"/>
      <div class="card-text">
        <div class="card-title">
          <h2 class="event-title" (click)="goToDetails(hall.key, event.id.toString())">{{ event.name }}</h2>
        </div>
        <div class="details-block">
          <div class="sessions" *ngIf="hall.value.length === 1">
            <h3>Only on {{ hall.value[0].date_time | date: 'fullDate' }}</h3>
          </div>

          <div class="sessions" *ngIf="hall.value.length === 2">
            <h3>On {{ hall.value[0].date_time | date: 'fullDate' }}</h3>
            <h3>And {{ hall.value[1].date_time | date: 'fullDate' }}</h3>
          </div>

          <div class="sessions" *ngIf="hall.value.length > 2">
            <h3>From {{ hall.value[0].date_time | date: 'fullDate' }}</h3>
            <h3>To {{ hall.value[hall.value.length - 1].date_time | date: 'fullDate' }}</h3>
          </div>
          <div class="info-row">
            <div class="index-box">{{ index + 1 }}</div>
            <div class="hall-info">
              <h4 class="hall-name">{{ hall.key }}</h4>
              <h4 class="concert-type">CONCERT - {{ event_category | formatCategories | uppercase }}</h4>
              <h4 class="event-artists">Artist(s): {{ event.artist |formatArtists }}</h4>
           </div>
          </div>
        </div>
        <h5 class="price">Ticket from {{ minimum_price[hall.key] }}$</h5>
        <button class="reserve-btn" (click)="goToDetails(hall.key, event.id.toString())">Réserver</button>
      </div>
    </div>
  </div>
</div>

