<header>
  <nav class="nav navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="https://127.0.0.1:8000/media/logo1.png" alt="logo" width="100" height="100">
      </a>

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/concerts">Concerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artists">Artists</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/connexion">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subscription">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
