body{
  background-image: url('https://127.0.0.1:8000/media/fond.png');
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body nav a li{
  text-decoration: none;
  list-style: none;
}