<app-header></app-header>
<div class="main-content">
  <div class="landing-page">
    <div class="landing-page-content">
      <div class="landing-page-content-title">
        <h1>Welcome to the best concert booking platform</h1>
        <div class="landing-page-content-title-text">
          <h2>Start booking your favorite events</h2>
        </div>
      </div>
      <div class="landing-page-content-subscribe">
        <div class="landing-page-content-subscribe-text">
          <h2>Subscribe now for more information</h2>
        </div>
        <div class="landing-page-content-subscribe-form">
          <input type="email" placeholder="Enter your email">
          <button>Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>

