<app-header></app-header>
<div class="main-content">
  <div class="landing-page">
    <div class="landing-page-content">
      <div class="landing-page-content-title">
        <h1>Welcome to the best concert booking platform</h1>
        <div class="landing-page-content-title-text">
          <h2>Start booking your favorite events</h2>
        </div>
      </div>
      <div class="landing-page-content-subscribe">
        <div class="landing-page-content-subscribe-text">
          <h2>Subscribe now for more information</h2>
        </div>
        <div class="landing-page-content-subscribe-form">
          <div class="form-group">
            <div class="input-button-group">
              <input
                type="email"
                [(ngModel)]="email"
                placeholder="Enter your email"
                [class.error]="emailError"
                (keyup.enter)="goToSubscriptionForm()"
              >
              <button
                (click)="goToSubscriptionForm()"
                [disabled]="isLoading"
                [class.loading]="isLoading"
              >
                <span *ngIf="!isLoading">Subscribe</span>
                <span *ngIf="isLoading">Processing...</span>
              </button>
            </div>
            @if (emailError) {
              <p class="error-message">{{ emailError }}</p>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

