{% extends 'base.html.twig' %}

{% block title %}Connexion admin{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <label>Email:</label><br>
        <input type="email" name="_username" value="{{ last_username }}"><br><br>

        <label>Mot de passe:</label><br>
        <input type="password" name="_password"><br><br>

        <button type="submit">Connexion</button>
    </form>
{% endblock %}
